:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;

  --tran-5: 0.5s;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.top {
  scroll-behavior: smooth;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: var(--blue-alt-color);
}
/* ======= Sidebar ============== */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  border: 5px solid white;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar > h3::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: black;
  bottom: -20px;
  transform: translateX(-50%);
  left: 50%;
}

.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li .actave {
  background-color: rgb(0, 149, 255);
  color: #fff;
}
.sidebar ul li a span {
  margin-left: 10px;
}

/* ===== Media sidebar  */
@media (max-width: 767px) {
  .sidebar {
    width: 55px;
    padding: 10px;
  }
  .sidebar ul li a span {
    display: none;
  }
  .sidebar h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar h3::before,
  .sidebar h3::after {
    display: none;
  }
}
/* ========== content ====== */
.content {
  overflow: hidden;
}

.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
  border: 1px solid var(--grey-color);
  padding-left: 25px;
  border-radius: 10px;
  margin-left: 5px;
  transition: 0.3s ease;
  width: 160px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}

.head .search input:focus::placeholder {
  position: absolute;
  top: 0;
}

.head .icons .noification::before {
  content: "+99";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--red-color);
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 5px;
  color: wheat;
}
.head .icons .noification {
  cursor: pointer;
  transition: var(--tran-5);
}
.head .icons .noification:hover {
  color: var(--red-color);
}
.head img {
  width: 32px;
  margin-left: 20px;
}

.page h1 {
  margin: 20px 20px 40px;
}
.page h1::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: black;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 6px;
}
.page h1::before {
  content: "";
  height: 3px;
  width: 120px;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 6px;
}
/* ============ wrapper ============ */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: minmax(150px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

/* ====== Welcome widget ======== */
.welcome {
  overflow: hidden;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.welcome .intro img {
  width: 170px;
  margin-bottom: -10px;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }

  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* ============ Quick Draft Widget ========= */
.quick-Draft textarea {
  resize: none;
  min-height: 180px;
}
.quick-Draft .save {
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
}
.quick-Draft .save:hover {
  background-color: var(--blue-alt-color);
}

/* ========= Target ========= */
.target .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.target .detalis {
  flex: 1;
}
.target .detalis .progress {
  height: 4px;
}
.target .detalis .progress > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.target .detalis .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  color: #fff;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 12px;
}
.target .detalis .progress > span span::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
/*============== target Colors ========== */
.target .detalis .progress > .blue span::after {
  border-top: 8px solid var(--blue-color);
}

.target .detalis .progress > .orange span::after {
  border-top: 8px solid var(--orange-color);
}

.target .detalis .progress > .green span::after {
  border-top: 8px solid var(--green-color);
}

.blue .icon,
.blue .progress {
  background-color: rgb(0 177 255 /20%);
}
.green .icon,
.green .progress {
  background-color: rgb(34 197 94 /20%);
}
.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11/20%);
}

/* ======== Tickets ======= */
.ticket .box {
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.ticket .box .card {
  border: 0.1px solid #ccc;
  padding: 20px;
  border-radius: 6px;
  transition: var(--tran-5);
  cursor: pointer;
}
.ticket .box .card:hover {
  background-color: #ddd;
  color: var(--blue-alt-color);
}
.ticket .box .card {
  p {
    color: grey;
  }
}

/* ================= Latest News ===== */
.Latest-News .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 1px solid #eee;
}
.Latest-News .news-row {
  padding-top: 20px;
  cursor: pointer;
  transition: var(--tran-5);
}
.Latest-News .news-row:hover {
  background-color: #ddd;
  padding: 20px;
}
.Latest-News .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}
.Latest-News .info {
  flex-grow: 1;
}
.Latest-News .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}
.Latest-News .label {
  transition: var(--tran-5);
}
.Latest-News .label:hover {
  background-color: var(--blue-color);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .Latest-News .label {
    width: fit-content;
    margin: 10px auto;
  }
}

/* ======== Latest Tasks ========= */

.tasks-row:not(:last-of-type) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.tasks-row {
  transition: var(--tran-5);
}
.tasks-row:hover {
  background-color: #ddd;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
}
.Tasks .info {
  flex-grow: 1;
}
.Tasks .done {
  opacity: 0.3;
}
.Tasks .done h3,
.Tasks .done p {
  text-decoration: line-through;
}
.Tasks .delet {
  transition: var(--tran-5);
  cursor: pointer;
}
.Tasks .delet:hover {
  color: var(--red-color);
}
/*============== Search Items ======== */
.Search-Items .item {
  border-bottom: 1px solid #eee;
  transition: var(--tran-5);
}
.Search-Items .item:hover {
  background-color: var(--blue-color);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  color: white;
}
.Search-Items .item:hover .count {
  color: #000000;
}

/* =========== Latest Upload =========== */
.Latest-Uploads .uploads {
  border-bottom: 1px solid #eee;
  transition: var(--tran-5);
}
.Latest-Uploads .uploads:hover {
  background-color: var(--blue-alt-color);
  padding: 15px 20px;
  border-radius: 10px;
}
.Latest-Uploads .uploads .icon {
  margin-right: 10px;
}
.Latest-Uploads .uploads .icon img {
  width: 30px;
}
.Latest-Uploads .uploads .info {
  flex: 1;
}

/* ========= Last Project Progress =======  */
.Last-Project ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.Last-Project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  z-index: 2;
}
.Last-Project ul li.done::before {
  background-color: var(--blue-color);
}
.Last-Project ul li.current:before {
  animation: change-Color 0.9s infinite;
}
.launch-icon {
  position: absolute;
  right: 10px;
  bottom: 25%;
  transform: translateX(-50%);
  width: 160px;
  opacity: 0.1;
}

/* =============Reminders ================= */
.Reminders ul li .kay {
  width: 15px;
  height: 15px;
}
.Reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.Reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.Reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.Reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
/* ==========Latest Post ============  */

.posts .img {
  overflow: hidden;
  width: 40px;
  margin-right: 20px;
}
.posts .img img {
  width: 100%;
}
.postsBox {
  border-bottom: 1px solid #ccc;
}
.posts > p {
  font-weight: 600;
}
.fa-heart {
  transition: var(--tran-5);
  cursor: pointer;
}
.fa-heart:hover {
  color: red;
  font-size: 15px;
}

/* =============== Social Media Stats ============= */
.Social-Media .box {
  padding-left: 70px;
}
.Social-Media .box .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: var(--tran-5);
}
.Social-Media .box .icon:hover {
  transform: rotate(5deg);
}
.Social-Media .twitter {
  background: rgb(29 161 242/20%);
  color: #1da1f2;
}
.Social-Media .twitter .icon,
.Social-Media .twitter a {
  background-color: #1da1f2;
}
.Social-Media .facebook {
  background-color: rgb(24 199 /20%);
  color: #1da1f2;
}
.Social-Media .facebook .icon,
.Social-Media .facebook a {
  background-color: #1877f2;
}

.Social-Media .youtube {
  background-color: rgb(255 0 0 /20%);
  color: #f00;
}
.Social-Media .youtube .icon,
.Social-Media .youtube a {
  background-color: #f00;
}

.Social-Media .linkedin {
  background-color: rgb(0 119 181 /20%);
  color: #0077b5;
}
.Social-Media .linkedin .icon,
.Social-Media .linkedin a {
  background-color: #0077b5;
}

/* =============== Table Projects ================= */
.Projects .responsive-Table {
  overflow-x: auto;
}
.Projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.Projects table thead td {
  background-color: #eee;
  font-weight: bold;
}
.Projects table td {
  padding: 15px;
}

.Projects table tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: var(--tran-5);
}
.Projects table tbody tr {
  transition: var(--tran-5);
  cursor: pointer;
}
.Projects table tbody tr:hover td {
  background-color: #eee;
}

.Projects table tbody td:last-child {
  border-right: 1px solid #eee;
}
.Projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background: white;
}
.Projects table img:not(:first-child) {
  margin-left: -20px;
}

/* ========== page Settings ======  */
.Settings-Page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 768px) {
  .Settings-Page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.Settings-Page .close-message {
  border: 1px solid #ccc;
  resize: none;
  min-height: 150px;
}

.Settings-Page .Email {
  display: inline-flex;
  width: calc(100% - 85px);
}
.Settings-Page :disabled {
  cursor: no-drop;
  background-color: #f0f5f8;
  color: #ddd;
}
/* ============Security-Info========= */

/* ================ Social Info ================ */
.Settings-Page .Social-Bx i {
  width: 40px;
  height: 40px;
  background: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: var(--tran-5);
}
.Settings-Page .Social-Bx input {
  height: 40px;
  border: 1px solid #ddd;
  background: #f6f6f6;
  border-radius: 0 6px 6px 0;
  padding-left: 15px;
}
.Settings-Page .Social-Bx > div:focus-within i {
  color: black;
}

/*  ================= Widgets-Control ===============  */
.Widgets-Control .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.Widgets-Control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.Widgets-Control .control label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
  margin-top: -9px;
}
.Widgets-Control .control label:hover:before {
  border-color: var(--blue-alt-color);
}
.Widgets-Control .control label::after {
  content: "\f00c";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0) rotate(360deg);
  transition: var(--tran-5);
}

.Widgets-Control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
/* ================= Backup Manager ===============  */
.Backup-Manager input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.Backup-Manager .date label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.Backup-Manager .date label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--grey-color);
}
.Backup-Manager .date label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  border-radius: 50%;
  transition: var(--tran-5);
  transform: scale(0) rotate(360deg);
}
.Backup-Manager .date input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.Backup-Manager .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}

.Backup-Manager .servers {
  border-top: 1px solid #eee;
  padding-top: 20px;
}
@media (max-width: 768px) {
  .Backup-Manager .servers {
    flex-wrap: wrap;
  }
}
.Backup-Manager .servers .server {
  border: 2px solid #eee;
  position: relative;
  margin-left: 5px;
  padding-top: 15px;
}
.Backup-Manager .servers .server label {
  cursor: pointer;
}
.Backup-Manager .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}

/* ======  toggle-checkbox ================= */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 87px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: var(--tran-5);
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  transition: var(--tran-5);
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  left: 50px;
  color: var(--blue-color);
  content: "\f00c";
}

/* =========== Page profile  =============== */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile-page .avatar-box .level {
  height: 8px;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.profile-page .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 50px;
  background: var(--blue-color);
}

.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: var(--tran-5);
}
.profile-page .info-box .box:hover {
  background-color: #f6f6f6;
}
.profile-page .info-box .box > div {
  min-width: 250px;
}
@media (max-width: 767px) {
  .profile-page .info-box .box > div,
  .profile-page .info-box h4 {
    text-align: center;
  }
}
.profile-page .info-box h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.profile-page .toggle-switch {
  background-color: #ccc;
  width: 62px;
  height: 13px;
  border-radius: 16px;
  position: relative;
  transition: var(--tran-5);
  cursor: pointer;
}
.profile-page .toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 11px;
  height: 11px;
  position: absolute;
  border-radius: 50%;
  top: 1px;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  transition: var(--tran-5);
  font-size: 11px;
}
@media (max-width: 767px) {
  .profile-page .toggle-switch {
    margin: auto;
  }
}

/* ======= Other Data ===== */
@media (max-width: 767px) {
  .profile-page .other-data {
    flex-direction: column;
  }
}
.profile-page .skills-card {
  flex-grow: 1;
}
.profile-page .skills-card ul li {
  padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span {
  display: inline-flex;
  padding: 4px 10px;
  background: #eee;
  border-radius: 6px;
  font-size: 14px;
}
.profile-page .skills-card ul li span:not(:last-child) {
  margin-right: 5px;
}
.profile-page .skills-card ul li span {
  transition: var(--tran-5);
}
.profile-page .skills-card ul li span:hover {
  background-color: var(--blue-color);
  color: #fff;
}

.profile-page .Activities {
  flex-grow: 2;
}

.profile-page .Activities .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.profile-page .Activities .activity {
  transition: var(--tran-5);
  border-radius: 10px;
}
.profile-page .Activities .activity:hover,
.profile-page .activity:hover .activity span {
  background-color:#d4d8dbb6;
  padding: 10px;
}
.profile-page .Activities img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .profile-page .Activities .date {
    margin-left: auto;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .profile-page .activity {
    flex-direction: column;
  }
  .profile-page .activity img {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .profile-page .activity .date {
    margin-top: 15px;
  }
}

/* =========== page-Projects============== */
.page-Projects {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  /* margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px; */
}
@media (max-width: 767px) {
  .page-Projects {
    grid-template-columns: minmax(200px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}

.page-Projects .Projects-row .dete {
  position: absolute;
  right: 10px;
  top: 10px;
}
.page-Projects .Projects-row h2 {
  font-weight: normal;
  font-size: 16px;
}
.page-Projects .Projects-row .team {
  position: relative;
  min-height: 80px;
}
.page-Projects .Projects-row .team a {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: var(--tran-5);
}
.page-Projects .Projects-row .team a:nth-child(2) {
  left: 25px;
}
.page-Projects .Projects-row .team a:nth-child(3) {
  left: 50px;
}
.page-Projects .Projects-row .team a:nth-child(4) {
  left: 75px;
}
.page-Projects .Projects-row .team a:hover {
  z-index: 99;
}
.page-Projects .Projects-row img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
.page-Projects .techs {
  justify-content: flex-end;
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.page-Projects .techs span {
  margin-left: 5px;
  width: fit-content;
}
@media (max-width: 767px) {
  .page-Projects .techs {
    flex-direction: column;
  }
  .page-Projects .techs span {
    margin: auto;
  }
  .page-Projects .techs span:not(:last-child) {
    margin-bottom: 15px;
  }
}
.page-Projects .info {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}

.page-Projects .progress {
  height: 8px;
  width: 260px;
  position: relative;
  border-radius: 6px;
}
.page-Projects .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 6px;
}

@media (max-width: 767px) {
  .page-Projects .info {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .page-Projects .progress {
    margin-bottom: 15px;
  }
}

/* ======= Page Courses ========  */
.page-Courses {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .page-Courses {
    grid-template-columns: minmax(200px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
.page-Courses .logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid #eee;
}
.page-Courses .cavar {
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.page-Courses .info {
  padding: 15px;
}
.page-Courses .info h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
.page-Courses .info p {
  margin-bottom: 15px;
}
.page-Courses .foter {
  border-top: 1px solid #eee;
  padding: 20px 15px;
}
.page-Courses .foter a {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
/* ===============Page-friends============ */
.Page-friends {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-right: 20px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .Page-friends {
    grid-template-columns: minmax(200px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
.frinde-card {
  transition: var(--tran-5);
}
.frinde-card:hover {
  transform: scale(1.1);
}
.Page-friends .icon i {
  background: #eee;
  padding: 10px;
  border-radius: 50%;
  font-size: 13px;
  transition: var(--tran-5);
  cursor: pointer;
  color: #383737a9;
  transition: var(--tran-5);
}
.Page-friends .icon i:hover {
  background-color: var(--blue-color);
  color: white;
  transform: rotate(360deg);
}
.Page-friends .personal {
  text-align: center;
}
.Page-friends .personal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.Page-friends .info span {
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
}
/* ===========Page-Files============== */
.Page-Files {
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .Page-Files {
    flex-direction: column;
    align-items: normal;
  }
}
.Page-Files .files-stats {
  min-width: 260px;
}
.Page-Files .files-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.Page-Files .files-stats .size {
  margin-left: auto;
}
.Page-Files .files-stats .blue {
  background-color: rgb(0 177 255 /20%);
}
.Page-Files .files-stats .green {
  background-color: rgb(34 197 94 /20%);
}
.Page-Files .files-stats .upload {
  margin: 15px auto 0;
  padding: 10px 15px;
  transition: var(--tran-5);
}
.Page-Files .files-stats .upload:hover {
  background: var(--blue-alt-color);
}
.Page-Files .files-stats .upload:hover i {
  animation: go-up 0.8s infinite;
}

.Page-Files .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
.Page-Files .files-content img {
  width: 40px;
  height: 40px;
  transition: var(--tran-5);
}
.Page-Files .files-content .file:hover img {
  transform: rotate(5deg);
}
.Page-Files .files-content .info {
  border-top: 1px solid #eee;
}

/* ============Page-Plans============= */
.Page-Plans {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .Page-Plans {
    grid-template-columns: minmax(250px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

.Page-Plans .heder {
  border: 3px solid white;
  outline: 3px solid transparent;
}
.Page-Plans h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
.Page-Plans .blue {
  outline-color: var(--blue-color);
}
.Page-Plans .green {
  outline-color: var(--green-color);
}
.Page-Plans .orange {
  outline-color: var(--orange-color);
}

.Page-Plans .prise {
  position: relative;
  font-size: 40px;
  width: fit-content;
  margin: auto;
}
.Page-Plans .prise span {
  left: -20px;
  top: 0;
  font-size: 25px;
}
.Page-Plans ul span {
  flex-grow: 1;
}
.Page-Plans ul .btn {
  padding: 8px 10px;
  color: #fff;
  background: var(--green-color);
  border-radius: 6px;
}

/* ======== Animation -------------- */
@keyframes change-Color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
@keyframes go-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
